#player{
	background-color: #eadede;
    width: 600px;
    height: 480px;
    border-radius: 35px;
}
.video{
	width: 600px;
	height: 340px;
}
.top_mune{
	height: 30px;
	width:600px;
}
.video video{
	position: relative;
	top: -30px;
}
.bottom_button{
	height: 50px;
}
#total_time{
	width: 80%;
	height: 15px;
	background-color: black;
	border: 1px solid #d6cece;
	border-radius: 10px;
	position: relative;
    top: -20px;
    left: 60px;
}
#current_time{
	height: 15px;
	width: 0px;
	background-color: red;
	position: relative;
	top: -36px;
    left: 61px;
    border-radius: 10px;
}
#video_time{
	height: 20px;
	width: 60px;
	
}
.bottom_button{
	position: relative;
	top: 10px;
}
#sound{
	width : 70px;
	height:5px;
	background-color: black;
	position: relative;
    left: 65px;
    top: -20px;
}
#sound1{
	height: 5px;
	width: 0;
	background-color: red;
	position: relative;
	top: -25px;
    left: 65px;
}
img{
	width: 30px;
}
#img_go{
	width: 40px;
}
#background{
	width: 200px;
    position: absolute;
    top: 110px;
    left: 200px;
    visibility: hidden;
}
#time_cle{
	position: relative;	
	color: white;
	left: 48px;
    top: -59px;
}
.bottom{
	position: relative;
    top: -55px;
    left: 50px;
}
.time_div{
	color: black;
	width: 50px;
	font-size: 18px;
	height: 18px;
}
#current_div {
    position: relative;
    top: -86px;
    left: 5px;
}
#dur_div{
	position: relative;
    top: -104px;
    left: 550px;
}
.inner{
	position: relative;
	top: 30px;
}
#img_go{
	position: relative;
    top: 5px;
}
.sound_div{
	position: relative;
    top: -89px;
    left: 407px;
}
#img_big{
	width: 20px;
	position: relative;
	top: -5px;
}
#img_small{
	width: 20px;
	position: relative;
    top: -38px;
    left: 140px;
}