.player{
	background-color: black;
    width: 600px;
    height: 440px;
}
.video{
	width: 600px;
	height: 340px;
}
.top_mune{
	height: 30px;
	width:600px;
}
.video video{
	position: relative;
	top: -30px;
}
.bottom_button{
	height: 50px;
}
#liner{
	height: 5px;
	background-color: red;
}
#liner1{
	height: 5px;
	width: 6px;
	background-color: black;
	position: relative;
	top: -5px;
}
#video_time{
	height: 20px;
	width: 60px;
	
}
.bottom_button{
	position: relative;
	top: 10px;
}